<!-- <app-landing-page></app-landing-page> -->
<router-outlet></router-outlet>
<!-- <app-pokemon-catalogue></app-pokemon-catalogue> -->

<!-- <app-trainer-page></app-trainer-page> --> 
<!-- (complete)="handleLoginComplete($event)" -->