<div *ngIf="user.username !== '' && setupIsComplete">
    <h1>pokemon catalogue: {{user.username}}</h1>
    <button (click)="navigateToTrainerPage()">Trainer page</button>
    <button (click)="logout()">log out</button>

    <ol>
        <li *ngFor="let p of pokemon; index as i">
            <div>
                <b>
                    {{p.name}}
                </b>
                <ng-container *ngIf="pokemonIsOwned[i]; then isOwned; else isNotOwned;"> </ng-container>

                <ng-template #isOwned>
                <p>You already own this pokemon</p>
                </ng-template>

                <ng-template #isNotOwned>
                    <button (click)="clickPokemon(i)">Catch!</button>
                </ng-template>

                <img src={{imageURLs[i]}}>
            </div>
        </li>
    </ol>

</div>