@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.login-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.login-logo {
  max-height: 150px;
  cursor: pointer;
  margin-top: 8rem;
}

.login-header {
  margin-top: 1.5rem;
  font-family: 'Pokemon Solid', sans-serif;
  color: black;
  letter-spacing: 2px;
}

.login-form {
  margin-top: 1rem;
}

.login-username {
  padding: 12px 20px;
  font-size: 1rem;
  outline: transparent;
  text-align: center;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.login-button {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 5px 15px;
  border: none;
  border-radius: 1rem;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  transform: all 0.3s;
}

.login-button:hover {
  background-color: #f7b42c;
  color: white;
}

.login-button:active {
  top: 3px;
}

.login-error {
  margin: 0 auto;
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  background-color: #fc575e;
  border-radius: 10px;
  width: 80%;
}