<div class="login-container">
  <img
    class="login-logo"
    title="Reset Game"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png"
    alt="Pokemon"
  />
  <h1 class="login-header">Enter Your Trainer Name</h1>
  <div class="login-form">
    <!-- <form (submit)="onLoginClick()"> -->
      <input type="text" class="login-username" (input)="setUsernameInput($event)"/>
      <button class="login-button" (click)="onLoginClick()">Start</button>
      <!-- <p class="login-error">Error handler</p> -->
    <!-- </form> -->
  </div>
</div>
