
<div *ngIf="user.username !== '' && setupIsComplete">
    <h1>pokemon trainer: {{user.username}}</h1>
    <button (click)="navigateToCatalogue()">Catalogue</button>
    <button (click)="logout()">log out</button>
    <ol>
        <h2>These are the pokemon you own: </h2>
        <li *ngFor="let p of user.pokemon; index as i">
            <div>
                <b>
                    {{p.name}}
                </b>

                <img src={{imageURLs[i]}}>
            </div>
        </li>
    </ol>

</div>